// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style1{
    border-top: 1px solid #8c8b8b ;
    border-width: 1px ;
}
.style2 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
.style3 {
	height: 10px;
	border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.style4 {
	border-top: 1px dotted #8c8b8b;
}
.images {
    height:300px;
    width:300px;
}